body{
  
}
header{
    position: relative;
    margin-top: 10px;
    margin-left: 20px;

}
.box{
    position: relative;
    width:70%;
    height: auto;
    margin-left: 15%;
    margin-top: -10%;
    border:  2px solid black;
    box-shadow: 0 0 15px rgba(0, 0,0, 2);
    background-color: rgba(224, 237, 249, 0.514) ;
    border-radius: 2%;
    filter: blur(0 20px);

}
.to{
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
    border-radius: 10px;
    padding: auto;

    }
.para{
    padding: 10px;
    text-align: left;
    text-justify: distribute;
}

.main{
    text-align: center;
    font-size: 30;
    color: white;
}
.laser{
    text-align: center;
    font-size: 40px;
    color: yellow;
    
}
.module{
    background-image: url(img2.jpg);
    height: auto;
    width: auto;
    border: 5px solid black;
    margin-top: 10px;
    margin-left:15%;
    


}
.img{
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 5px outset black;
    width: auto;
    border-radius: 10px;
}
.video{
    margin-left: 0%;
    
    
}
.cut{
    box-shadow: 0, 0 , 20, rgba(0 0 0);
    margin-left: 0%;
    text-align: center;
    width: auto;
    text-align: center;
    background-color: azure;
    border: 10px outset black;
    border-radius: 10px;
    
    
}
.my{
    text-align: center;
    color: aqua;
}
.abc{
    color: azure;
}

     
