.head{
    font-size: 20px;
    font-style: inherit;
    background-color: aqua;
}
.body{
    font-size: 5px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aqua;
}